
th {
    color: rgb(240, 6, 6);
}

td {
    color: deepskyblue;
}

b {
    color: rgb(255, 0, 234);
}

h2 {
    color: gold;

}

p {
    color: hotpink; font-size: 180% ;
    font-style: oblique;
}

em {
    color: mediumslateblue; font-size: 100%;
}
h1{
 color: rgb(255, 0, 64);;
}
a{
    text-decoration: none;
}
a:hover {
    background-color: lawngreen;
    color: lawngreen;
}
body{
    
    
    background-image: url("ab.jpg");
    background-repeat: no-repeat;
   background-size:cover ;
    
}
 
ol{
    color:deepskyblue;
}
