
th {
    color: rgb(240, 6, 6);
}

td {
    color: blue;
}

b {
    color: rgb(255, 0, 234);
}

h2 {
    color: gold;

}

p {
    color: hotpink; font-size: 180% ;
    font-style: oblique;
}

em {
    color: mediumslateblue;
}
h1{
 color: rgb(255, 0, 64);;
}
table{
    font-weight: bolder;
}